:root {
  --font-header: 'Shadows Into Light', cursive;
  --font-principal: 'Roboto Condensed', sans-serif;
  --main-color: #072227;
  --primario-color: #35858B;
  --secundario-color: #4FBDBA;
  --terciario-color: #AEFEFF;
}


html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
}

.contenido-header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150px;
}

.tittle {
    font-size: 80px;
    font-family: var(--font-header);
    color: var(--terciario-color);
}

.contenedor-main {
    display: flex;
    margin: auto;
    width: 70%;
    height: 400px;
    column-gap: 20px;
}

.contenedor-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}


.contenedor-aside .btn {
    background-color: #35858B;
    border-width: 0;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    color: #072227;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-principal);
    font-size: 1.1rem;
    height: 40px;
    padding: 0 25px;
    transition: all 200ms;
    border-radius: 50px;
}

.contenedor-aside .btn:hover {
    transform: scale(1.05);
    background-color: #4FBDBA;
}

.btn .active {
    background-color: #4FBDBA;
}

.btn-color {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: none;
    margin: 0 auto;
	width: 100%;
	height: 40px;
    border-radius: 50px;
    background-color: #35858B;
}

.btn-input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 85%;
    height: 85%;
}

.contenedor-aside .btn-color:hover {
    transform: scale(1.05);
    background-color: #4FBDBA;
}

.contenendor-cuadricula {
    background-color: aliceblue;
    height: 90%;
    width: 45%;
    margin: auto;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color: var(--terciario-color);
    font-style: oblique;
    letter-spacing: 0.75px;
}
    